body {
    font-family: 'Source Code Pro', monospace;
    color: #fff;
    margin: 0;
    background-color: #7b8bb0;
}

h1 {
    font-size: 64px;
    font-weight: 300;
    line-height: 64px;
    margin-bottom: 0;
}

h2 {
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
}

h3 {
    font-size: 22px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

p {
    margin-bottom: 30px;
    line-height: 30px;
}

img {
    border: 0;
}

a:link,
a:active,
a:visited {
    color: #ddd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #7b8bb0;
}

main {
    width: 70%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

footer {
    color: #fff;
    position: relative;
    height: 65px;
    left: 0;
    bottom: 0;
    font-size: 14px;
    background-color: #090f33;
    width: 100%;
    padding: 15px;
}

.button {
    background-color: #090f33;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
}

nav {
    text-align: center;
    margin: 40px;
}

ul {
    font-size: 12.5px;
    line-height: 20px;
}

.hero {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 160px;
    padding-bottom: 160px;
    background-color: #090f33;
    background-image: url(https://i.pinimg.com/originals/6c/0b/54/6c0b541ca892b09a03813ed2ac674444.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    min-width: 320px;
}

.social {
    float: right;
}

.left {
    float: left;
}

.right {
    float: right;
}

* {
    box-sizing: border-box;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.tlcontainer {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.tlcontainer::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #090f33;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.tlleft {
    left: 0;
}

.tlright {
    left: 50%;
}

.tlleft::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.tlright::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.tlright::after {
    left: -16px;
}

.tlcontent {
    padding: 20px 30px;
    background-color: #090f33;
    position: relative;
    border-radius: 6px;
}

@media screen and (max-width: 600px) {
    .timeline::after {
        left: 31px;
    }

    .tlcontainer {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .tlcontainer::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .tlleft::after,
    .tlright::after {
        left: 15px;
    }

    .tlright {
        left: 0%;
    }
}